<!-- header -->
<style>
    .ew-header .layui-nav>.back-item>a:after {
        background-color: transparent;
    }
    .img-item {
        top: 19px;
    }
    .ew-header .layui-nav > .layui-nav-item > .test-btn{
        background-color: #fff;
        border: 1px solid #eee;
        color: #666;
        border-radius: 5px;
        height: initial;
        line-height: 38px;
        font-size: 14px;
        padding: 0 18px;
    }

    .ew-header .layui-nav>.back-items>a:after {
        background-color: transparent !important;
    }

    .search-by {
        border-radius: 5px !important;
        color: #333 !important;
        height: initial !important;
        line-height: 38px !important;
        font-size: 16px !important;
        padding: 0 18px !important;
    }

    @media screen and (max-width: 935px) {
        .img-item {
            top: 11px;
        }

        .ew-header .layui-nav > .layui-nav-item > .test-btn {
            border: 0px solid #eee !important;
            color: #666 !important;
            border-radius: 0 !important;
        }

        .ew-header .layui-nav .back-item {
            padding: 10px !important;
        }
    }

</style>
<div class="ew-header">
    <div class="layui-container">
        <a class="layui-logo" href="/" style="letter-spacing: 1.5px;position: relative;">
            <img src="${ctxPath}/file/${websiteLogo!}" class="img-item"
                 style="width: 32px;height: 32px;position: absolute;left: 0;">
            <span>${websiteName!}</span>
        </a>
        <div class="ew-nav-group">
            <div class="nav-toggle"><i class="layui-icon layui-icon-more-vertical"></i></div>
            <ul class="layui-nav" lay-filter="ew-header-nav">
                <li class="layui-nav-item">
                    <a href="${ctxPath}/index">商店首页</a>
                </li>
                <li class="layui-nav-item back-item" style="padding: 0px; padding-left: 15px;">
                    <a href="${ctxPath}/search" class="layui-btn search-by" style="background-color: #ffffff;">
                        <i class="layui-icon">&#xe615;</i>
                        查询订单
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>