.layer-pay-rstips {
    padding: 25px 25px;
}

.layer-pay-rstips > p {
    color: #666;
    font-size: 16px;
}

.layer-pay-rstips .layui-btn-fluid {
    margin: 15px 0 0 0;
    border-radius: 0;
}

.layer-pay-rstips .layui-btn-primary.layui-btn-fluid {
    background-color: transparent;
    border: 1px solid rgba(111, 121, 122, 0.3);
    box-sizing: border-box;
    color: #727272;
}

.order-show {
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.ew-banner {
    background: url(../images/banner_1.png) 50% no-repeat #4181ff;
    max-width: 100vw;
    overflow: hidden;
    color: #333;
    position: relative;
    background-size: cover;
}

.product-info {
    display: none !important;
}
.product-info1 {
    display: block !important;
}

.btn-group-show {
    float: right;
    border-radius: 50px !important;
    color: #fff !important;
    height: initial !important;
    line-height: 45px !important;
    font-size: 15px !important;
    padding: 0 18px !important;
    -webkit-box-shadow: 0 5px 6px 0 rgb(73 105 230 / 22%) !important;
    background: linear-gradient(0deg, #2a62ff, #716ffe) !important;
    margin-left: 0px !important;
}

@media screen and (max-width: 750px) {
    .buy-btn-group {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #141414;
        z-index: 1000;
        padding: 10px 15px 25px 15px;
        border-top: 1px solid #2e2e2e;
    }

    .card-shows {
        margin-bottom: 82px !important;
    }

    .uuip {
        display: none !important;
    }

    .display-show {
        display: none !important;
    }

    .pay-type-group {
        padding: 15px !important;
    }

    .ew-footer {
        display: none !important;
    }

    .product-info1 {
        display: none !important;
    }
    .product-info {
        display: block !important;
    }
}

.layui-form-label {
    float: left;
    display: block;
    padding: 9px 0px;
    width: 80px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    font-size: 15px;
}

.layui-input-block {
    margin-left: 80px !important;
    min-height: 36px;
}

.layui-form-item {
    margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
    .layui-form-item .layui-input-inline {
        display: block;
        float: none;
        left: -3px;
        width: auto;
        margin: 0 0 0 83px;
    }
}

.layui-input, .layui-select, .layui-textarea {
    height: 38px;
    line-height: 1.3;
    line-height: 38px\9;
    border-width: 1px;
    border-style: solid;
    background-color: #202020;
    border-radius: 5px;
    color: #ccc;
}

.layui-form-switch {
    border: 2px solid #737373 !important;
}
.layui-table th {
    border-width: 2px !important;
}

.layui-table td {
    border-width: 2px !important;
}

.price {
    font-size: 25px;
    color: #f97c73;
    line-height: 45px;
    font-weight: 600;
}

.weui-cells {
    margin-top: 0;
    background-color: #1f1f1f;
    line-height: 1.41176471;
    font-size: 17px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 1px solid #2d2d2d;
}

.weui-cells .weui-cell {
    padding: 16px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #2d2d2d;
}

.weui-cells .weui-cell-bottom {
    padding: 16px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.weui-cells .weui-cell .weui-cell__bd {
    min-width: 4em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.weui-cells .weui-cell .weui-cell__ft {
    font-weight: normal;
    text-align: right;
    color: rgba(0,0,0,0.5);
    color: var(--weui-FG-1);
}

.weui-cells .weui-cell-bottom .weui-cell__bd {
    min-width: 4em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.weui-cells .weui-cell-bottom .weui-cell__ft {
    font-weight: normal;
    text-align: right;
    color: rgba(0,0,0,0.5);
    color: var(--weui-FG-1);
}

.weui-collas {
    margin-top: 0;
    background-color: #202020;
    line-height: 1.41176471;
    font-size: 14px;
    color: #fff;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 1px solid #2d2d2d;
}

.weui-collas .weui-colla {
    padding: 8px 15px 8px 15px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.weui-collas .weui-colla .weui-colla__bd {
    min-width: 4em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.weui-collas .weui-colla .weui-colla__ft {
    font-weight: normal;
    text-align: right;
    color: rgba(0,0,0,0.5);
    color: var(--weui-FG-1);
}

.weui-collas .weui-colla-bottom .weui-colla__bd {
    min-width: 4em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.weui-collas .weui-colla-bottom .weui-colla__ft {
    font-weight: normal;
    text-align: right;
    color: rgba(0,0,0,0.5);
    color: var(--weui-FG-1);
}

.order-number-box {
    flex: 1 1 auto;
    margin: 0px;
    display: flex;
}

.order-number-box input {
    color: #989898;
    text-align: center;
    margin: 0px;
    display: block;
    padding: 0px;
}

.order-number-box .sub {
    margin: 0px;
    display: block;
    padding: 0px 8px 0px 0px;
}

.order-number-box .sub button {
    line-height: unset;
    padding: 0 10px;
    border: 2px solid #2f2f2f;
    border-radius: 5px;
    background-color: #2f2f2f;
}

.order-number-box .add {
    flex: 1 1 0%;
    margin: 0px;
    display: block;
    padding: 0px 0px 0px 8px;
}

.order-number-box .add button {
    line-height: unset;
    padding: 0 10px;
    border: 2px solid #2f2f2f;
    border-radius: 5px;
    background-color: #2f2f2f;
}

@media screen and (max-width: 1200px) {
    .buy-btn-group .layui-btn {
        width: 45% !important;
        padding: 0 0px;
        min-width: 130px;
    }
}

