<!DOCTYPE html>
<html lang="en">
<head>
    <:include file="./common/title.html" websiteName="订单查询 - ${website.websiteName}" keywords="${website.keywords}"
              description="${website.description}" favicon="${website.favicon}"/>
    <link rel="stylesheet" href="${ctxPath}/theme/easy-bright/css/search.css"/>
</head>
<body style="background: url(${isBackground}) fixed no-repeat; background-position: center center; background-size: cover;">
<!-- header -->
<:include file="./common/header.html" websiteName="${website.websiteName}" websiteLogo="${website.websiteLogo}"/>

<!-- goods-card -->
<div class="layui-container body-card" style="margin-bottom: 15px;">
    <div class="layui-card" style="border-radius: 5px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);">
        <div class="layui-card-body" style="padding: 20px 20px; text-align: center">
            <h2 style="font-size: 25px; margin-bottom: 10px; font-weight: 600;">订单查询</h2>
            <h3>轻松查询订单,即刻享受卡密自动交易</h3>
            <h3>浏览器缓存订单只保存七天、请尽快提取卡密</h3>
            <h3>订单号开头为TUD,或者用下单时填写的联系方式查询</h3>
        </div>
    </div>
</div>

<div class="layui-container body-card" style="margin-bottom: 15px;">
    <div class="search-show">
        <form class="layui-form toolbar">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs12 layui-col-sm8 layui-col-md9">
                    <input type="text" name="contact" class="layui-input" lay-verify="required"
                           placeholder="请输入TUD开头订单号/电子邮件/流水号" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-col-xs12 layui-col-sm4 layui-col-md3">
                    <button class="layui-btn layui-btn-show" lay-filter="goodsTbSearch" lay-submit>
                        <i class="layui-icon" style="font-size: 22px">&#xe615;</i>
                        查询订单
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-container body-card">
    <div class="odlist" id="search-card">
        <div class="no-content">
            <img src="${ctxPath}/theme/easy-bright/images/error_ic_empty.png" class="no-content-img">
            <p class="user-no-contents">暂无记录</p>
        </div>
    </div>
</div>

<!-- footer -->
<:include file="./common/footer.html" websiteName="${website.websiteName}" beianIcp="${website.beianIcp}"/>

<!-- 项目模板 -->
<script type="text/html" id="orderItem">
    <div class="row" {{#  if(d.andIncrement == 0){ }} {{#  } else { }}style="border-top: 1px solid rgb(165 165 165 / 30%);"{{#  } }}>
        <a href="/search/order/{{d.member}}" target="_blank">
            <div class="row-bd">
                <div class="center">
                    <h3>订单日期： {{d.createTime}}</h3>
                    <ul>
                        <li><label>付款方式：</label> {{d.payType}}</li>
                        <li><label>订单号：</label><span> {{d.member}}</span></li>
                        <li><label>订单状态：</label> {{d.status}}</li>
                    </ul>
                </div>
                <div class="right">金额：{{d.money}}</div>
            </div>
        </a>
    </div>
</script>

<!-- js部分 -->
<:include file="./common/qiantaijs.html"/>

<script>
    layui.use(['layer', 'form', 'util', 'admin', 'dataGrid'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;
        var dataGrid = layui.dataGrid;
        var ordersListJson = JSON.parse('${ordersList!}').map(function (d) {
            return {
                id: d.id,
                andIncrement: d.andIncrement,
                member: d.member,
                createTime: d.createTime,
                payType: d.payType,
                status: d.status,
                money: d.money}
        });

        if (ordersListJson.length != 0) {
            dataGrid.render({
                elem: '#search-card',
                templet: '#orderItem',
                data: ordersListJson
            });
        } else {
            var cardListHtml = '' +
                '<div class="no-content">\n' +
                '    <img src="${ctxPath}/theme/easy-bright/images/error_ic_empty.png" class="no-content-img">\n' +
                '    <p class="user-no-contents">没有查询到该订单</p>\n' +
                '</div>';

            $("#search-card").html(cardListHtml);
        }


        /* 表格搜索 */
        form.on('submit(goodsTbSearch)', function (data) {

            console.log("111111111111")

            var mData = data.field; // 拿到用户输入的内容
            $.post('/orders/orders/pageAll', {
                page: 1,
                limit: 10,
                contact: mData.contact
            }, function (res) {
                if (0 === res.code) {
                    var list = res.data;
                    var cardListHtml = '';
                    if (list.length != 0) {
                        dataGrid.render({
                            elem: '#search-card',
                            templet: '#orderItem',
                            data: list
                        });
                    } else {
                        cardListHtml = '' +
                            '<div class="no-content">\n' +
                            '    <img src="${ctxPath}/theme/easy-bright/images/error_ic_empty.png" class="no-content-img">\n' +
                            '    <p class="user-no-contents">没有查询到该订单</p>\n' +
                            '</div>';

                        $("#search-card").html(cardListHtml);
                    }
                } else {
                    layer.msg(res.msg)
                }
            });
            return false;
        });
    });
</script>
</body>
</html>