.layui-input {
    border-width: 2px;
    border-radius: 30px;
    height: 60px;
    padding: 30px;
    text-align: center;
    background-color: rgb(255 255 255 / 50%);
    border-color: rgb(255 255 255 / 50%);
}

.layui-form-item .layui-inline {
    margin-bottom: 0px;
    margin-right: 10px;
    width: 77%;
}

.layui-form-item .layui-shows {
    margin-bottom: 0px;
    margin-right: 10px;
    width: 20%;
}

.layui-btn-show {
    border-radius: 30px;
    color: #fff;
    height: 64px;
    line-height: 64px;
    font-size: 20px;
    padding: 0 18px;
    width: 100%;
}

@media screen and (max-width: 597px) {
    .row .center h3 {
        font-size: 16px !important;
    }

    .row .center ul {
        font-size: 13px !important;
    }

}

@media screen and (max-width: 935px) {
    .layui-input {
        border-radius: 30px;
        height: 30px;
        padding: 20px;
    }

    .layui-form-item .layui-inline {
        margin-bottom: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .layui-btn-show {
        border-radius: 30px;
        color: #fff;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        padding: 0 18px;
        width: 100%;
    }

    .row .center {
        width: auto !important;
    }

    .row .right {
        margin-top: 125px !important;
        width: 100% !important;
        padding: 15px 0 0 10px !important;
        float: none !important;
        font-size: 20px !important;
        line-height: 26px !important;
        color: #738293 !important;
        border-top: 1px solid rgb(165 165 165 / 30%) !important;
        border-left: none !important;
    }
}

@media screen and (max-width: 360px) {
    .row .center h3 {
        font-size: 16px !important;
    }

    .row .center ul {
        font-size: 13px !important;
    }

}

.search-show {
    margin: 0 auto;
    background-color: rgb(255 255 255 / 50%);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.no-content {
    padding: 80px 0 80px;
    text-align: center;
    color: #999;
}

.no-content .no-content-img {
    width: 150px;
    margin: 0 auto 20px;
    display: block;
}

.no-content .user-no-contents {
    margin-bottom: 0;
    padding-bottom: 15px;
    text-align: center;
    font-size: 18px;
    color: #333;
}

.odlist {
    background-color: rgb(255 255 255 / 50%);
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.row .row-bd {
    padding: 30px;
    overflow: hidden;
}

.row .center {
    padding: 10px;
    float: left;
    font-size: 18px;
    width: 52%;
    text-align: left;
}

.row .right {
    width: 100px;
    padding: 19px 36px 19px 36px;
    float: right;
    font-size: 20px;
    line-height: 26px;
    color: #738293;
    border-left: 1px solid rgb(165 165 165 / 30%);
}

.row .center h3 {
    font-size: 18px;
    color: #244362;
}

.row .center ul {
    margin-right: -25px;
    font-size: 14px;
}

.row .center li {
    float: left;
    margin-right: 25px;
    line-height: 25px;
    color: #738293;
}

.ew-banner {
    background: url(../images/banner_1.png) 50% no-repeat #4181ff;
    max-width: 100vw;
    overflow: hidden;
    color: #333;
    position: relative;
    background-size: cover;
}