<!DOCTYPE html>
<html lang="en">
<head>
    <:include file="./common/title.html" websiteName="${website.websiteName}" keywords="${website.keywords}"
              description="${website.description}" favicon="${website.favicon}"/>
    <link rel="stylesheet" href="${ctxPath}/qiantai/css/index.css"/>
</head>
<body>
<!-- header -->
<:include file="./common/header_hd.html" websiteName="${website.websiteName}" websiteLogo="${website.websiteLogo}"/>

<!-- goods-card -->
<div class="layui-container body-card" style="margin-bottom: 15px;">
    <div class="layui-card" style="border-radius: 5px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);">
        <div class="layui-card-header" style="font-size: 18px; font-weight: 600;">
            <img src="${ctxPath}/qiantai/images/notice.svg" style="width: 25px; height: 25px">
            购物须知:
        </div>
        <div class="layui-card-body" style="padding: 20px 20px; font-size: 17px; font-weight: 600;">
            ${website.storeDetails}
        </div>
    </div>
</div>

<!-- goods-card -->
<div class="layui-container body-card" style="margin-bottom: 15px;">
    <div class="layui-card" style="border-radius: 5px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);">
        <div class="layui-card-header" style="font-size: 18px; font-weight: 600; padding-left: 45px; display: block !important;">
            <img src="${ctxPath}/qiantai/images/classifys.svg" style="top: 10px; position: absolute; left: 15px; margin-right: 20px;">
            选择分类
        </div>
        <div class="layui-card-body" style="padding: 15px 15px;">
            <div class="layui-row layui-col-space15 classify-type" id="classifyList">
            </div>
        </div>
    </div>
    <div class="layui-card" style="border-radius: 5px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);">
        <div class="layui-card-header" style="font-size: 18px; font-weight: 600; padding-left: 45px; display: block !important;">
            <img src="${ctxPath}/qiantai/images/product.svg" style="top: 10px; position: absolute; left: 15px; margin-right: 20px;">
            选择商品
        </div>
        <div class="layui-card-body" style="padding: 15px 15px;">
            <div class="layui-row layui-col-space15 product-type" id="goodsList">
            </div>
        </div>
    </div>

</div>
<!-- footer -->
<:include file="./common/footer.html" websiteName="${website.websiteName}" beianIcp="${website.beianIcp}"/>

<!-- 项目模板 -->
<script type="text/html" id="classifyItem">
    <div class="layui-col-sm3">
        <div class="project-list-item {{#  if(d.andIncrement === 0){ }}active{{#  } }} " data-id="{{d.id}}" lay-filter="classifySubmit" lay-submit>
            <div class="project-list-item-body">
                <div style="overflow:hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 17px; font-weight: 600; margin-bottom: 5px;">
                    {{d.name}}
                </div>
                <div class="project-list-item-text">商品数量： {{d.productsMember}}</div>
            </div>
        </div>
    </div>
</script>

<!-- 项目模板 -->
<script type="text/html" id="productItem">
    <div class="layui-col-sm3">
        <div class="project-list-item"
             style="background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0)), url(${ctxPath}/file/{{d.imageLogo}});background-repeat: no-repeat;background-size: cover;background-position: 100% 100%;"
             data-id="{{d.id}}" lay-filter="productSubmit" lay-submit>
            <div class="project-list-item-body">
                <div style="overflow:hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 17px; font-weight: 600; margin-bottom: 5px;">
                    {{d.name}}
                </div>
                <div class="project-list-item-text"
                     style="font-weight: 700; padding-bottom: 5px;font-size: 15px; color: #00beff">¥ {{d.price}}
                </div>
                <div class="project-list-item-text">库存数量：{{d.cardMember}}</div>
            </div>
        </div>
    </div>
</script>

<!-- js部分 -->
<:include file="./common/qiantaijs.html"/>
<script type="text/javascript" src="${ctxPath}/qiantai/js/backend-bundle.min.js"></script>
<script>
    layui.use(['layer', 'form', 'notice', 'dataGrid'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var notice = layui.notice;
        var dataGrid = layui.dataGrid;
        var classifysListJson = JSON.parse('${classifysListJson!}');
        var classifyId;
        var product1;
        var ins;

        // 支付方式点击事件
        $('.pay-type-group>div').click(function () {
            $('.pay-type-group>div').removeClass('active');
            $(this).addClass('active');
        });

        var list = classifysListJson;

        var classifyHtml = '';
        if (list.length != 0) {
            classifyId = list[0].id;
            ins = dataGrid.render({
                elem: '#classifyList',
                templet: '#classifyItem',
                data: list,
            });
        } else {
            classifyHtml = '' +
                '<div style="text-align: center; padding: 30px;">' +
                '   <div style="letter-spacing: 1.5px; position: relative; height: 40px; line-height: 50px; display: inline-block; font-size: 18px; color: #888; padding-left: 36px; background-size: 32px; background-position: 0 19px; background-repeat: no-repeat;">' +
                '       <img src="/qiantai/images/no.svg" style="top: 11px; width: 50px; margin-right: 10px; left: 0;">' +
                '       <span>暂无分类</span>' +
                '   </div>' +
                '</div>';
            $("#classifyList").html(classifyHtml);
        }

        // 点击事件
        $('.classify-type>div .project-list-item').click(function () {
            $('.classify-type>div .project-list-item').removeClass('active');
            $(this).addClass('active');
        });

        $('.product-type>div .project-list-item').click(function () {
            $('.product-type>div .project-list-item').removeClass('active');
            $(this).addClass('active');
        });

        $.post('/getProductList', {
            classifyId: classifyId
        }, function (res) {
            if (0 === res.code) {
                var list = res.data;
                var goodsHtml = '';
                if (list.length != 0) {
                    dataGrid.render({
                        elem: '#goodsList',
                        templet: '#productItem',
                        data: list,
                    });
                } else {
                    goodsHtml = '' +
                        '<div style="text-align: center; padding: 30px;">' +
                        '   <div style="letter-spacing: 1.5px; position: relative; height: 40px; line-height: 50px; display: inline-block; font-size: 18px; color: #888; padding-left: 36px; background-size: 32px; background-position: 0 19px; background-repeat: no-repeat;">' +
                        '       <img src="/qiantai/images/no.svg" style="top: 11px; width: 50px; margin-right: 10px; left: 0;">' +
                        '       <span>暂无商品</span>' +
                        '   </div>' +
                        '</div>';
                    $("#goodsList").html(goodsHtml);
                }
            } else {
                layer.msg(res.msg, {icon: 2})
            }
        });

        /* 表单提交 */
        form.on('submit(classifySubmit)', function () {
            product1 = null;
            classifyId = $('.classify-type>div .project-list-item.active').data('id');
            $.post('/getProductList', {
                classifyId: $('.classify-type>div .project-list-item.active').data('id')
            }, function (res) {
                if (0 === res.code) {
                    var list = res.data;
                    var goodsHtml = '';
                    if (list.length != 0) {
                        dataGrid.render({
                            elem: '#goodsList',
                            templet: '#productItem',
                            data: list,
                        });
                    } else {
                        goodsHtml = '' +
                            '<div style="text-align: center; padding: 30px;">' +
                            '   <div style="letter-spacing: 1.5px; position: relative; height: 40px; line-height: 50px; display: inline-block; font-size: 18px; color: #888; padding-left: 36px; background-size: 32px; background-position: 0 19px; background-repeat: no-repeat;">' +
                            '       <img src="/qiantai/images/no.svg" style="top: 11px; width: 50px; margin-right: 10px; left: 0;">' +
                            '       <span>暂无商品</span>' +
                            '   </div>' +
                            '</div>';

                        $("#goodsList").html(goodsHtml);
                    }
                } else {
                    layer.msg(res.msg, {icon: 2})
                }
            });
        });

        /* 表单提交 */
        form.on('submit(productSubmit)', function () {
            $('.product-type>div .project-list-item').removeClass('active');
            $(this).addClass('active');
            var productId = $('.product-type>div .project-list-item.active').data('id')
            $.post('/getProductById', {
                id: productId
            }, function (res) {
                if (0 === res.code) {
                    var product = res.data;
                    product1 = product;
                    window.location = '${ctxPath}/product/' + product.link;
                } else {
                    layer.msg(res.msg, {icon: 2})
                }
            });
        });

    });
</script>
</body>
</html>