<!DOCTYPE html>
<html lang="en">
<head>
    <:include file="./common/title.html" websiteName="${website.websiteName}" keywords="${website.keywords}"
              description="${website.description}" favicon="${website.favicon}"/>
    <link rel="stylesheet" href="${ctxPath}/theme/night/css/index.css"/>
</head>
<body>
<!-- header -->
<:include file="./common/header.html" websiteName="${website.websiteName}" websiteLogo="${website.websiteLogo}"/>

<!-- goods-card -->
<div class="layui-container body-card" style="margin-bottom: 15px;">
    <div class="layui-card" style="border-radius: 5px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);">
        <div class="layui-card-header" style="font-size: 18px; font-weight: 600; padding-left: 47px; display: block !important;">
            <img src="${ctxPath}/theme/night/images/notice.svg" style="top: 10px; position: absolute; left: 15px;">
            购物须知
        </div>
        <div class="layui-card-body">
            <div class="zliaan-body-info">
                ${shop.storeDetails}
            </div>
        </div>
    </div>
</div>

<!-- goods-card -->
<div class="layui-container body-card" style="margin-bottom: 15px;">
    <div class="layui-card" style="border-radius: 5px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);">
        <div class="layui-card-header" style="font-size: 18px; font-weight: 600; padding-left: 47px; display: block !important;">
            <img src="${ctxPath}/theme/night/images/classifys.svg" style="top: 10px; position: absolute; left: 15px;">
            选择分类
        </div>
        <div class="layui-card-body" style="padding: 15px 15px;">
            <div class="layui-row layui-col-space15 classify-type" id="classifyList">
            </div>
        </div>
    </div>
    <div class="layui-card" style="border-radius: 5px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);">
        <div class="layui-card-header" style="font-size: 18px; font-weight: 600; padding-left: 47px; display: block !important;">
            <img src="${ctxPath}/theme/night/images/product.svg" style="top: 10px; position: absolute; left: 15px;">
            选择商品
            <div class="pull-right" style="position: relative;">
                <i class="layui-icon layui-icon-search layui-icon-screen-show"></i>
                <input id="screen-product" placeholder="请输入商品名称" class="layui-input screen-input" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-card-body" style="padding: 15px 15px;">
            <div class="layui-row layui-col-space15 product-type" id="goodsList">
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<:include file="./common/footer.html" websiteName="${website.websiteName}" beianIcp="${website.beianIcp}"/>

<!-- 项目模板 -->
<script type="text/html" id="classifyItem">
    <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
        <div class="project-list-item {{#  if(d.andIncrement === 0){ }}active{{#  } }} " data-id="{{d.id}}" lay-filter="classifySubmit" lay-submit>
            <div class="project-list-item-body">
                <div class="item-title" style="overflow:hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 17px; font-weight: 600; margin-bottom: 5px;">
                    {{d.name}}
                </div>
                <div class="project-list-item-text">商品数量： {{d.productsMember}}</div>
            </div>
        </div>
    </div>
</script>

<!-- 项目模板 -->
<script type="text/html" id="productItem">
    <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
        <div class="project-list-item"
             style="background-image: linear-gradient(to right, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url({{d.imageLogo}}); background-repeat: no-repeat; background-size: cover;"
             data-id="{{d.id}}" lay-filter="productSubmit" lay-submit>
            <div class="project-list-item-body">
                <div class="project-list-item-title" style="padding-bottom: 5px; font-weight: 700; text-shadow: 0 1px 1px rgb(0 0 0 / 20%);">
                    {{d.name}}
                </div>
                <div class="project-list-item-text"
                     style="font-weight: 700; padding-bottom: 5px; color: #FFFFFF; text-shadow: 0 1px 1px rgb(0 0 0 / 20%);">¥ {{d.price}}
                </div>
                <div class="project-list-item-text" style="color: #FFFFFF; text-shadow: 0 1px 1px rgb(0 0 0 / 20%);">库存数量：{{d.cardMember}}</div>
                <div class="tag">
                    {{#  if(d.isCoupon >= 1){ }}<span class="layui-badge layui-bg-blue">券</span>{{#  } }}
                    {{#  if(d.restricts >= 1){ }}<span class="layui-badge">限</span>{{#  } }}
                    {{#  if(d.isWholesale === 1){ }}<span class="layui-badge layui-bg-orange">折</span>{{#  } }}
                </div>
            </div>
        </div>
    </div>
</script>

<!-- js部分 -->
<:include file="./common/qiantaijs.html"/>
<script type="text/javascript" src="${ctxPath}/assets/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="${ctxPath}/assets/js/jquery.cookie.js"></script>
<script>
    layui.use(['layer', 'form', 'notice', 'dataGrid'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var notice = layui.notice;
        var dataGrid = layui.dataGrid;
        var classifysListJson = JSON.parse('${classifysListJson!}');
        var classifyId;
        var product1;
        var ins;
        var shopSettingsJson = JSON.parse(JSON.stringify(${shopSettings!}));

        if (shopSettingsJson.isWindow == 1) {
            var isWindow = $.cookie('isWindow');
            if ($.cookie("isWindow") != 'yes') {
                //示范一个公告层
                layer.open({
                    type: 1
                    ,title: false //不显示标题栏
                    ,closeBtn: false
                    ,area: '300px;'
                    ,shade: 0.3
                    ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    ,btn: ['我知道啦']
                    ,btnAlign: 'c'
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: '<div style="padding: 15px; line-height: 22px; background-color: #313030; color: #fff; font-weight: 300; border-radius: 5px;">' + shopSettingsJson.window + '</div>'
                    ,success: function(layero){
                        var btn = layero.find('.layui-layer-btn');
                        btn.click(function () {
                            /*var date = new Date();
                            date.setTime(date.getTime() + (5 * 1000));*/
                            $.cookie('isWindow', 'yes', { expires: 1 });
                        })
                    }
                });
            }
        }

        // 支付方式点击事件
        $('.pay-type-group>div').click(function () {
            $('.pay-type-group>div').removeClass('active');
            $(this).addClass('active');
        });

        var list = classifysListJson;

        var classifyHtml = '';
        if (list.length != 0) {
            classifyId = list[0].id;
            ins = dataGrid.render({
                elem: '#classifyList',
                templet: '#classifyItem',
                data: list
            });
        } else {
            classifyHtml = '' +
                '<div style="text-align: center; padding: 30px;">' +
                '   <div style="letter-spacing: 1.5px; position: relative; height: 40px; line-height: 50px; display: inline-block; font-size: 18px; color: #cccccc; padding-left: 36px; background-size: 32px; background-position: 0 19px; background-repeat: no-repeat;">' +
                '       <img src="/theme/night/images/no.svg" style="top: 11px; width: 50px; margin-right: 10px; left: 0;">' +
                '       <span>暂无分类</span>' +
                '   </div>' +
                '</div>';
            $("#classifyList").html(classifyHtml);
        }

        // 点击事件
        $('.classify-type>div .project-list-item').click(function () {
            $('.classify-type>div .project-list-item').removeClass('active');
            $(this).addClass('active');
        });

        $('.product-type>div .project-list-item').click(function () {
            $('.product-type>div .project-list-item').removeClass('active');
            $(this).addClass('active');
        });

        $.post('/getProductList', {
            classifyId: classifyId
        }, function (res) {
            if (0 === res.code) {
                var list = res.data;
                var goodsHtml = '';
                if (list.length != 0) {
                    dataGrid.render({
                        elem: '#goodsList',
                        templet: '#productItem',
                        data: list
                    });
                } else {
                    goodsHtml = '' +
                        '<div style="text-align: center; padding: 30px;">' +
                        '   <div style="letter-spacing: 1.5px; position: relative; height: 40px; line-height: 50px; display: inline-block; font-size: 18px; color: #cccccc; padding-left: 36px; background-size: 32px; background-position: 0 19px; background-repeat: no-repeat;">' +
                        '       <img src="/theme/night/images/no.svg" style="top: 11px; width: 50px; margin-right: 10px; left: 0;">' +
                        '       <span>暂无商品</span>' +
                        '   </div>' +
                        '</div>';
                    $("#goodsList").html(goodsHtml);
                }
            } else {
                layer.msg(res.msg, {icon: 2})
            }
        });

        /* 表单提交 */
        form.on('submit(classifySubmit)', function () {
            product1 = null;
            classifyId = $('.classify-type>div .project-list-item.active').data('id');
            $.post('/getProductList', {
                classifyId: $('.classify-type>div .project-list-item.active').data('id')
            }, function (res) {
                if (0 === res.code) {
                    var list = res.data;
                    var goodsHtml = '';
                    if (list.length != 0) {
                        dataGrid.render({
                            elem: '#goodsList',
                            templet: '#productItem',
                            data: list
                        });
                    } else {
                        goodsHtml = '' +
                            '<div style="text-align: center; padding: 30px;">' +
                            '   <div style="letter-spacing: 1.5px; position: relative; height: 40px; line-height: 50px; display: inline-block; font-size: 18px; color: #cccccc; padding-left: 36px; background-size: 32px; background-position: 0 19px; background-repeat: no-repeat;">' +
                            '       <img src="/theme/night/images/no.svg" style="top: 11px; width: 50px; margin-right: 10px; left: 0;">' +
                            '       <span>暂无商品</span>' +
                            '   </div>' +
                            '</div>';

                        $("#goodsList").html(goodsHtml);
                    }
                } else {
                    layer.msg(res.msg, {icon: 2})
                }
            });
        });

        /* 表单提交 */
        form.on('submit(productSubmit)', function () {
            $('.product-type>div .project-list-item').removeClass('active');
            $(this).addClass('active');
            var productId = $('.product-type>div .project-list-item.active').data('id')
            $.post('/getProductById', {
                id: productId
            }, function (res) {
                if (0 === res.code) {
                    var product = res.data;
                    product1 = product;
                    window.location = '${ctxPath}/product/' + product.link;
                } else {
                    layer.msg(res.msg, {icon: 2})
                }
            });
        });

        $(document).ready(function (e) {
            $("#screen-product").keyup(function (e) {
                var classifyId = $('.classify-type>div .project-list-item.active').data('id');
                var content = $(this).val(); // 获取到搜索框输入的内容
                console.log(content)
                $.get('/getProductSearchList', {
                    classifyId: classifyId,
                    content: content
                }, function (res) {
                    if (0 === res.code) {
                        var list = res.data;
                        var goodsHtml = '';
                        if (list.length != 0) {
                            dataGrid.render({
                                elem: '#goodsList',
                                templet: '#productItem',
                                data: list
                            });
                        } else {
                            goodsHtml = '' +
                                '<div style="text-align: center; padding: 30px;">' +
                                '   <div style="letter-spacing: 1.5px; position: relative; height: 40px; line-height: 50px; display: inline-block; font-size: 18px; color: #cccccc; padding-left: 36px; background-size: 32px; background-position: 0 19px; background-repeat: no-repeat;">' +
                                '       <img src="/theme/night/images/no.svg" style="top: 11px; width: 50px; margin-right: 10px; left: 0;">' +
                                '       <span>暂无商品</span>' +
                                '   </div>' +
                                '</div>';
                            $("#goodsList").html(goodsHtml);
                        }
                    } else {
                        layer.msg(res.msg, {icon: 2})
                    }
                });
            });
        });

    });
</script>
</body>
</html>