<!DOCTYPE html>
<html>
<head>
    <:include file="./common/title.html" websiteName="${website.websiteName} - 订单详情" keywords="${website.keywords}"
              description="${website.description}" favicon="${website.favicon}"/>

    <script type="text/javascript" src="${ctxPath}/theme/night/js/clipboard.min.js"></script>
</head>
<body>
<!-- header -->
<:include file="./common/header.html" websiteName="${website.websiteName}" websiteLogo="${website.websiteLogo}"/>

<!-- goods-card -->
<div class="layui-container body-card">
    <div class="layui-row layui-col-space15">
        <!-- 左 -->
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
            <div class="layui-card order-show">

                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">联系方式</div>
                        <div class="weui-cell__ft">${orders.email!orders.contact}</div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">订单号</div>
                        <div class="weui-cell__ft">${orders.member!}</div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">支付状态</div>
                        <div class="weui-cell__ft">
                            <:if test="${orders.status==3}">
                                已发货
                            </:if>
                            <:if test="${orders.status==2}">
                                待发货
                            </:if>
                            <:if test="${orders.status==1}">
                                已支付
                            </:if>
                            <:if test="${orders.status==0}">
                                未支付
                            </:if>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">支付时间</div>
                        <div class="weui-cell__ft">${orders.payTime!}</div>
                    </div>
                    <div class="weui-cell-bottom">
                        <div class="weui-cell__bd">付款金额</div>
                        <div class="weui-cell__ft">${orders.money!} 元</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 左 -->
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
            <div class="layui-card order-show">

                <:if test="${orders.status == 0}">
                    <div class="layui-text">
                        <span>订单还未付款！</span>
                    </div>
                </:if>

                <!-- 自动发货 -->
                <:if test="${orders.status == 2}">
                    <div class="layui-text">
                        <span>请耐心等待店主发货哦！</span>
                    </div>
                </:if>

                <!-- 自动发货 -->
                <:if test="${orders.status == 1 || orders.status == 3}">
                    <div class="layui-text" style="font-size: 18px; height: auto">
                        <div class="user-info-list-item">
                            <textarea id="card-txt" placeholder="查看卡密信息" class="layui-textarea" style="height: 237px;"><:for items="${cardsList}" var="item">${item!}</:for></textarea>
                        </div>
                    </div>
                    <div class="reset">
                        <a id="card-copy1" href="#" data-clipboard-target="#card-txt"
                           class="reset-left layui-btn">复制卡密</a>
                        <!--<:if test="${orders.shipType == 0}">
                            <button class="reset-right layui-btn" lay-filter="qrcodeSubmit" lay-submit>生成二维码</button>
                        </:if>-->
                        <script type="text/javascript"> new ClipboardJS('#card-copy1'); </script>
                    </div>
                </:if>

            </div>
        </div>

        <!-- 左 -->
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <!-- 使用说明 -->
            <div class="layui-card">
                <div class="layui-card-header">
                    <img src="${ctxPath}/theme/night/images/present.svg">
                    使用说明
                    <span class="pull-right" style="font-weight: 400; font-size: 16px;">请详细阅读如下说明</span>
                </div>
                <div class="layui-card-body" style="padding: 15px 15px;">
                    <div class="list_info">
                        ${goods.pdInfo!}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 表单弹窗 -->
<script type="text/html" id="ordersInfoDialog">
    <div id="imgView"
         style="padding: 10px; border-radius: 5px;">
    </div>
</script>

<!-- footer -->
<:include file="./common/footer.html" websiteName="${website.websiteName}" beianIcp="${website.beianIcp}"/>

<!-- js部分 -->
<:include file="./common/js.html"/>
<script>
    layui.use(['layer', 'form', 'QRCode', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var QRCode = layui.QRCode;
        var admin = layui.admin;

        /* 生成二维码 - 仅支持自动发货的商品 */
        form.on('submit(qrcodeSubmit)', function () {
            var content = $('#card-txt').val();
            layer.open({
                type: 1
                , title: '查看二维码'
                , offset: 'auto'
                , id: 'layerDemo' + 'auto'
                , content: shows(content)
                , btn: '关闭窗口'
                , btnAlign: 'c' //按钮居中
                , shade: 0 //不显示遮罩
                , yes: function () {
                    layer.closeAll();
                }
            });
        });

        function shows(mData) {
            html = '<div id="payQrCode" style="width: 260px; height: 260px; text-align: center">' +
                '<img style="margin-top: 10px" src="/file/enQrcode?url=' + mData + '">' +
                '</div>';
            return html;
        }

    })
</script>
</body>
</html>