f.project-list-item.uuids {
    height: auto;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 25px;
    background-color: #fff;
    border-radius: 5px;
}

/** 项目列表样式 */
.project-list-item {
    background-color: rgba(0,0,0,0.5);
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s;
}

.project-list-item:hover {
    box-shadow: 0 2px 10px rgb(65 65 65 / 20%);
}

.project-list-item .project-list-item-cover {
    width: 100%;
    height: 220px;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.project-list-item-body {
    padding: 20px;
}

.project-list-item-body .tag {
    position: absolute;
    right: 15px;
    top: 11px;
}

.project-list-item .project-list-item-body > h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.project-list-item .project-list-item-text {
    overflow: hidden;
    font-size: 15px;
}

.project-list-item .project-list-item-desc {
    position: relative;
}

.project-list-item .project-list-item-desc .time {
    color: #999;
    font-size: 12px;
}

.project-list-item .project-list-item-desc .ew-head-list {
    position: absolute;
    right: 0;
    top: 0;
}

.ew-head-list .ew-head-list-item {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-left: -10px;
}

.ew-head-list .ew-head-list-item:first-child {
    margin-left: 0;
}

/** // 项目列表样式结束 */
.classify-type > div .project-list-item.active {
    background: #40cda5 linear-gradient(45deg, #39cca2, #4bb1ff);
    color: #FFFFFF !important;
    text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
}

.classify-theme {
    letter-spacing: 1.5px;
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    padding-left: 26px;
    background-size: 32px;
    background-position: 0 19px;
    background-repeat: no-repeat;
}

.classify-theme > svg {
    top: 1px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
}

.layui-icon-screen-show {
    width: 33px;
    height: 33px;
    line-height: 33px;
    font-size: 16px;
    color: #909399;
    position: absolute;
    left: 0;
    top: 7px;
    text-align: center;
}

.screen-input {
    width: 250px;
    font-size: 14px;
    height: 33px;
    margin-top: 6px;
    border-radius: 5px;
    font-weight: normal;
    padding-left: 33px;
    background-color: rgba(0,0,0,0.4);
    color: #FFFFFF;
}

.project-list-item-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
}

.zliaan-body-info {
    font-size: 16px;
    font-family: Content-font, Roboto, sans-serif;
    font-weight: 400;
}

.zliaan-body-info p {
    line-height: 1.625;
}

.zliaan-body-info img{
    height: auto;
    max-width: 100%;
}

.zliaan-body-info::-webkit-scrollbar {
    width: 2px;
    border-radius: 1.5px;
    background-color: transparent;
}
.zliaan-body-info::-webkit-scrollbar-track {
    background: #F5F5F6;
    border-radius: 1.5px;
}
.zliaan-body-info::-webkit-scrollbar-thumb {
    background: #4E6EF2;
    border-radius: 1.5px;
}

@media screen and (max-width: 750px) {

    .project-list-item-body {
        padding: 15px !important;
    }

    .project-list-item-body .item-title {
        font-size: 16px !important;
        font-weight: initial !important;
    }

    .classify-type {
        display: flex !important;
        overflow-x: auto !important;
    }

    .project-list-item {
        min-width: 130px;
    }

    .layui-card-body .zliaan-body-info {
        overflow-y: auto;
        max-height: 210px;
    }

    .screen-input {
        width: 160px;
    }
}


.el-tag {
    background-color: #409effbf;
    display: inline-block;
    height: 20px;
    padding: 0 5px;
    line-height: 18px;
    font-size: 12px;
    color: #ffffff;
    border: 1px solid #409effbf;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: nowrap;
}

.demo-block.demo-tag .el-tag+.el-tag {
    margin-left: 10px;
}

.el-tag.el-tag--success {
    background-color: rgba(103, 194, 58, 0.76);
    border-color: rgba(103, 194, 58, 0.76);
    color: #ffffff;
}

.el-tag.el-tag--info {
    background-color: rgba(144, 147, 153, 0.77);
    border-color: rgba(144, 147, 153, 0.77);
    color: #ffffff;
}

.el-tag.el-tag--warning {
    background-color: rgba(230, 162, 60, 0.76);
    border-color: rgba(230, 162, 60, 0.76);
    color: #ffffff;
}

.el-tag.el-tag--danger {
    background-color: #f56c6cc4;
    border-color: #f56c6cc4;
    color: #ffffff;
}